<div id="gora"><h1>Add</h1></div>
  <table id="blad">
  <% @user.errors.each do |attr,msg| %>
  <tr><td> 
  <%=  "#{attr} - #{msg}" %>
  </td></tr>
  <% end %>
  </table>
<div>  
<% form_for(@user, :url => {:controller => :users, :action => :add, :id => @user}) do |f| %>
  <%= f.label :imie %><br />
	<%= f.text_field :imie %><br />
  <br />
	<%= f.label :nazwisko %><br />
	<%= f.text_field :nazwisko %><br />
  <br />
	<%= f.label :wiek %><br />
	<%= f.text_field :wiek %><br />
  <br />
  <%= f.label :wzrost %><br />
  <%= f.text_field :wzrost %><br />
  <br />
  
	<%= f.submit 'add', :action => "show_all"%>

<% end %>

<br/><br/>
<%= link_to "back", :action => "show_all" %>
</div>