<div id="gora"><h1>Add</h1></div>
  
  <% @user.errors.each do |attr,msg| %>
  <table id="blad">
  <tr><td> 
  <%=  "#{attr} - #{msg}" %>
  </td></tr>
  </table>
  <% end %>
  
  
<% form_for(@user, :url => {:controller => :users, :action => :add, :id => @user}) do |f| %>
  <div>
  <%= f.label :imie %></div>
	<div>
  <%= f.text_field :imie %></div>
	<div>
  <%= f.label :nazwisko %></div>
	<div>
  <%= f.text_field :nazwisko %></div>
	<div>
  <%= f.label :wiek %></div>
	<div>
  <%= f.text_field :wiek %></div>
  <div>
  <%= f.label :wzrost %></div>
  <div>
  <%= f.text_field :wzrost %>
  </div>
<div>
<%= f.submit 'Add'%>
</div>
<% end %>
<p>
<%= link_to "back", :action => "show_all" %>
</p>