<div id="gora"><h1>Add</h1></div>

<% form_for(@user, :url => {:controller => :users, :action => :add, :id => @user}) do |f| %>
  <tablr>
  <%= f.error_messages%>
</table>
	<%= f.label :imie %><br />
	<%= f.text_field :imie %><br />
  <br />
	<%= f.label :nazwisko %><br />
	<%= f.text_field :nazwisko %><br />
  <br />
	<%= f.label :wiek %><br />
	<%= f.text_field :wiek %><br />
  <br />
  <%= f.label :wzrost %><br />
  <%= f.text_field :wzrost %><br />
  <br />
  
	<%= f.submit 'add'%>

<% end %>

<br/><br/>
<%= link_to "back", :action => "show_all" %>