<div id="gora">
<h1>User</h1>
</div>

<p>
Imie: 
<%= @user.imie %><br/>
Nazwisko: 
<%= @user.nazwisko %><br/>
Wiek: 
<%= @user.wiek %><br/>
Wzrost: 
<%= @user.wzrost %><br/>
<br/>
<%= link_to "back", :action => "show_all" %>
</p>