<div id="gora"><h1>Update</h1></div>
<div>
  <p>
    <b>Aktualne dane uzytkownika w bazie danych:</b><br />
    Imie: <%= @user.imie %><br />
    Nazwisko: <%= @user.nazwisko %><br />
    Wiek: <%= @user.wiek %><br/>
    Wzrost: <%= @user.wzrost %><br/>
  </p>
</div>  
  <% @user.errors.each do |attr,msg| %>
  <table id="blad">
  <tr><td> 
  <%=  "#{attr} - #{msg}" %>
  </td></tr>
  </table>
  <% end %>
<% form_for(@user, :url => {:controller => :users, :action => :update, :id => @user}) do |f| %>
  <div>
  <%= f.label :imie %></div>
  <div>
  <%= f.text_field :imie %></div>
  <div>
  <%= f.label :nazwisko %></div>
  <div>
  <%= f.text_field :nazwisko %></div>
  <div>
  <%= f.label :wiek %></div>
  <div>
  <%= f.text_field :wiek %></div>
  <div>
  <%= f.label :wzrost %></div>
  <div>
  <%= f.text_field :wzrost %>
  </div>
<div>
  <%= f.submit 'Update'%>
</div>
<% end %>
<div>  
<br /><br />
<%= link_to "Back", :action => "show_all" %>
</div>